
@media (max-width: 400px){
    .content{ 
      width: 186px !important;
      margin-left: 5px;
    }
     .get{
      left: 30px !important;
      
    }
  
 .card{
  width: 166px !important;
  height: 220px !important ;
  padding-right:40px !important ;

}
  
     .card-body{
      padding-left: 0px !important;
      width: 186px !important;
      height: 200px !important;
    }

    .card-header{
      font-size: 10px;
      width: 150px;
      margin-bottom: 10px !important;
      margin-left: 10px;

    }
    .card-text{
      padding-top:0px !important;
      margin-bottom: 0px !important;
      margin-left: 10px;
      font-size: 9px;
      width: 150px;
      left: 10px;
    }
    .btn {
      margin-top:40px !important ;
      margin-left: 15px !important;
      width: 100px;
      font-size: 10px !important;
     
    } 
   .text-box{
    padding-top: 5px !important;
    height: 80px;
   }
   .text-button{
    margin-left: 10%;
    position: absolute !important;
    
    bottom: 500px !important;
    width: 150px !important;
   }

}


  


body {
    background-color: #03001C !important ;
}
.content{
    padding: 20px;
}


.card {
    

    background-color:#B6EADA !important;
    color:#301E67;
    border-radius: 25px !important;
    height: 310px ;
    box-shadow:  12px 12px 15px 6px rgb(39, 40, 73)! important;


}


.card-header{
    color: #B6EADA;
    background-color: #03001C !important;
    border-radius: 25px !important;

}
.btn {
    margin-top:20px ;
    color: #03001C !important;
    background-color:  #5B8FB9 !important;
    border-radius: 10px !important;
    position: absolute;
    top: 15px !important;
  

}
.btn:hover{
  background-color: #22a6b3 !important;
}

 
.card-text{
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 5px !important;

}
.text-button{
position: absolute;
bottom: 100px !important;
width: 150px !important;
 }
.firstTitle{
    color: aqua;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 60px;
}

.slogan{
    margin: 20px;
    text-align: justify;
    color: #000000;
    margin-bottom: 30px;
    background-color: #22a6b3;
    border-radius: 20px;
    padding: 10px;
}




*{
    box-sizing: border-box;
  }

  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 20px;
    
  }
  .text-box{
    margin-top: 20px !important;
    font-weight: bold;

  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  

  

.get {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  position: relative;
  left: 41%;
  font-size:20px !important;
  color: #ffffff;

  
}

.get:first-of-type {    
  animation: showup 7s infinite;
}

.get:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.get:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}






